<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Employee Management</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Employees" asp-action="Index">Employees</a></li>
                <li><a asp-controller="Managers" asp-action="Index">Managers</a></li>
                <li><a asp-controller="Clerks" asp-action="Index">Clerks</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
